{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
{% block title %}Services App{% endblock %}
    <script src="{% static 'serviceapp/js/jquery.js' %}"></script>
    <script src="{% static 'serviceapp/bootstrap/js/bootstrap.min.js' %}"></script> 
    <link href="{% static 'serviceapp/bootstrap/css/bootstrap.min.css' %}"  rel="stylesheet" type="text/css" />
    <link href="{% static 'serviceapp/bootstrap/css/bootstrap-theme.min.css' %}"  rel="stylesheet" type="text/css" />
    <link href="{% static 'serviceapp/css/styles.css' %}"  rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="{% url 'index' %}" class="navbar-brand">Services App</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
                <li class="hvr-curl-top-right"><a href="{% url 'index' %}">Home</a></li>
                <li class="hvr-curl-top-right"><a href="{% url 'tmdb' %}">TMDB</a></li>
                <li class="hvr-curl-top-right"><a href="{% url 'github' %}">Github</a></li>
              	<li class="hvr-curl-top-right"><a href="{% url 'rewardstyle' %}">rewardStyle</a></li>
              </ul>
      		<div class="navbar-form pull-right">
      			<img class="nav-icon" src="{% static 'serviceapp/images/wuno-icon.png' %}" alt="Wuno Inc Logo" />
      		</div>
    	</div>
	</div>
</div>

<div class="container-fluid">

{% block content %}
    <div class="row main">
<h3>This data changes based on the page you are on.</h3>
</div>
{% endblock %}
	</div>

<div class="row text-center navbar footer">
    <div class="col-md-12">
        <p>2012 Wuno, Inc. | Creative Designs From Creative Minds</p>
    </div>
</div>
</body>
</html>
